.cont.svelte-dq6umm{width:100%;height:100vh;padding:2em 10em 2em 2em}h1.svelte-dq6umm{margin-bottom:1em}p.svelte-dq6umm{font-size:smaller;margin-bottom:.5em}a.svelte-dq6umm{font-size:smaller;margin-bottom:.5}
