.cont.svelte-1s1iugf{width:100%;padding:.5em}button.svelte-1s1iugf,p.svelte-1s1iugf,input.svelte-1s1iugf{font-size:small;font-family:Input-Mono-Narrow-Thin,monospace}h2.svelte-1s1iugf{margin-top:1em;font-size:medium}
